.alert {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
  }
  .success {
    background-color: rgb(195, 248, 195);
    color:rgb(2, 107, 2)
  }
  .failure {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
  }
  